/*!
 * Theme for Neuropsychology Ottawa utlizing Bootstrap v3.3.6 (http://getbootstrap.com)
 * Author: Eva Gagnon-Messier
 */

@import "bootstrap";
@import "theme/theme";
@import "layout/layout";
@import "vendors/vendors";


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  margin-top: 0;
}

.container {
  @media (min-width: $screen-lg-min) {
    width: 1050px;
  }
}


.navbar-brand{
 height: auto;
 padding: 2px;
}

.navbar-brand-logo{
  width: 4rem;
  margin-left: 15px;
}

.navbar{
    margin-bottom: 0;
    border: 0;
}

.nav > li{
  display: inline-block;
}

.navbar-nav-custom{
  text-align: center;

  @media (min-width: $grid-float-breakpoint) {
    float: right;
    text-align: inherit;
  }
}

.main-section{
  padding: 1.5rem 0;

  @media (min-width: $screen-md-min) {
    padding: 2.5rem 0;
  }
}

.main-section-first{
  // padding: 2.5rem 0;
  background-color: $sw-gray-base;
  @include gradient-vertical($start-color: $sw-gray-base, $end-color: $sw-gray-lighter-1, $start-percent: 0%, $end-percent: 100%);
}
.main-section-second{
  background-color: $sw-gray-lighter-1;
  @include gradient-vertical($start-color: $sw-gray-lighter-1, $end-color: $sw-gray-lighter-2, $start-percent: 0%, $end-percent: 100%);

}
.main-section-third{
  background-color: $sw-gray-lighter-2;
  padding-top: 0;
}

.footer{
  background-color: $sw-gray-lighter-3;
  padding: 1rem 0;

}

.main-section-description{
  font-size: 1.125rem;
}

.site-logo{
  display: block;
  margin: 0 auto;
  @media (max-width: $screen-xs-min) {
    width: 100%;
  }
}

.pub-logo-list{
  list-style: none;
  margin-top: 2.5rem;
  padding-left: 0;
  text-align: center;
}

.pub-logo-item{
  display: inline-block;
  padding: 1rem .625rem;
  @media (min-width: $screen-sm-min) {
    padding: 1.5rem;
  }
  // @media (min-width: $screen-sm-min) {
  //   padding: 1.5rem;
  // }
}

.pub-logo-img{
  width: 7rem;
  @media (min-width: $screen-sm-min) {
    width: 10rem;
  }
  @media (min-width: $screen-md-min) {
    width: 12rem;
  }
}

.hr-horizontal-sm{
  border-color: $sw-gray-medium;
  margin: 0 auto;
  width: 18rem;
}
