//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$sw-gray-base:        #222;
$sw-gray-lighter-1:   lighten($sw-gray-base, 5%);
$sw-gray-lighter-2:   lighten($sw-gray-base, 8%);
$sw-gray-lighter-3:   lighten($sw-gray-base, 10%);
$sw-white-off:        #fafafa;
$sw-gray-medium:      #ccc;
//== Scaffolding
//

//** Background color for `<body>`.
$body-bg:               $sw-gray-lighter-3;
//** Global text color on `<body>`.
$text-color:            $sw-white-off;

// Typography

$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif;

$headings-font-weight:    300;




// Border Radius
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
